<div class="table-responsive">
    <style>
        table {
  counter-reset: rowNumber-1;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
    </style>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Types</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each data }}
            <tr>
                <td></td>
                {{!-- ya nira td vitra {{type}} garera rakhda ramro huntheo rather than 'citizenship' --}}
                <td>citizenship</td>
                {{#if isApproved}}
                <td><span class="btn btn-success">Approved</span></td>
                {{else if isVerified}}
                <td><span class="btn btn-info">Verified</span></td>
                {{else if isCalled}}
                <td><span class="btn btn-warning">Called</span></td>
                {{else}}
                <td><span class="btn btn-danger">Not verified</span></td>
                {{/if}}
                <td><a href="/users/requests/edit/{{_id}}"><button class="btn btn-primary">Edit</button></a></td>
                <td>
                    <form action="/users/requests/{{_id}}?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>